.main-div{
    border:2px  #E54B4B;
    box-sizing: border-box;
    padding: 15px;
    position: relative;
}

.flex-space-between{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

label{
    font-family: 'Oleo Script';
}
.main-div input[type = submit]{
    /* position: relative;
    display: block;
    background: #E54B4B;
    font-family: 'Oleo Script';
    border: none;
    border-radius: 20px; */
}
.white{
    background: white;
    box-sizing: border-box;
    padding: 2px;
}