.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7em;
}

.user_shortcuts {
  display: flex;
  align-items: center;
  height: 100%;
}

.user_shortcuts > * {
  margin: 0 0.5em;
}

.link,
.navbar > span {
  text-emphasis: none;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.navbar > img,
.navbar link {
  user-select: none;
  cursor: pointer;
}

.company_img {
  height: 40%;
}

.user_img {
  height: 35%;
}
