.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7em;
    
}

.user-shortcuts{
    display: flex;
    align-items: center;
    height: 100%;
}

.user-shortcuts > *{
    margin: 0 0.5em;
}

.link{
    text-emphasis: none;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

.company-img{
    height: 40%;;
}

.user-img{
    height: 35%;

}