<div class = "main-wrap">
    <table class="user-div" >
       <thead>
           <tr>
               <th colspan="1">
                   &nbsp;
               </th>
               <th>
                   Username
               </th>
               <th>
                   Name
               </th>
               <th>
                   Last Name
               </th>
               <th>
                   &nbsp;
               </th>
           </tr>
       </thead>
       <tbody>
           <tr  *ngFor="let user of Users">
                <td>
                    <img class= "account-img" src="assets/account_stock.png"/>
                </td>
                <td>
                    {{user.Username}}
                </td>
                <td>
                    {{user.Name}}
                </td>
                <td>
                    {{user.LastName}}
                </td>
                <td>
                    <div *ngIf="CurrentUser != null">
                        <div *ngIf= "DetermineRelationship(user.Username,'friends');else notfriendsBlock">
                            <button (click) = "HandleRequests(user.Username, 'Unfriend')">
                                Unfriend
                            </button>
                        </div>
                        <ng-template #notfriendsBlock>
                            <div *ngIf = "DetermineRelationship(user.Username,'hasTheirRequest'); else doesntHaveIt">
                                <button (click) = "HandleRequests(user.Username,'Accept')">
                                    ACCEPT REQUEST
                                </button>
                                <button (click) = "HandleRequests(user.Username,'Decline')">
                                    DENY REQUEST
                                </button>
                            </div>
                            <ng-template #doesntHaveIt>
                                <div *ngIf = "DetermineRelationship(user.Username,'didTheySend'); else didntsend">
                                    <button>
                                        FRIEND REQUEST SENT
                                    </button>
                                </div>
                            <ng-template #didntsend>
                                <button (click) = "HandleRequests(user.Username,'Send')">
                                    SEND REQUEST
                                </button>
                            </ng-template>
                            </ng-template>
                        </ng-template>
                        
                    </div>
                </td>
           </tr>
           
           
           
           
       </tbody>
    </table>
</div>
