
.img2{
  
    width: 100vw;
    height:30vh;
}
.company-div{
  border-radius: 25px;
  border: 2px solid #E54B4B;
  position: relative;
  background: linear-gradient(#E54B4B 20%, lightgray 20%);
  height: max-content;
}
.rest-div{
    position: relative;
}
.logo-img{
    width: 100%;
    height: 100%;
    display: block;
}
.img-div{
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background: white;
    left: 5%;
    top:10%;
    width: 10vw;
    height:15vh;
    overflow: hidden;
}
.company-name{
    position: absolute;
    font: 24px 'Oleo Script';
    left:12.5vw;
    top:calc(50% - 1.5vh);
    height:5vh;
}
.info-div{
    position: relative;
    width: 100vw;
    height: 20vh;
}

.promo_description{
   position: absolute;
   min-width: 300px;
   top:calc(50% - 5.5vh);
   left:calc(50% - 150px );
   font: 16px 'Oleo Script';
    
}
textarea{
    border: none;
    background: transparent;
    resize: none;
    overflow: hidden;
}

.address-of-company{
    position: absolute;
    font: 12px 'Oleo Script';
    top: 13%;
    right: 0px;
    top:calc(50% - 3.5vh);
    text-align: end;
    width: 300px;
}
.flights-flex{
    position: relative;
    left: 15.5%;
    width:70vw;
    
    /* display: flex;
    flex-wrap: wrap; */
}

.red-line{
    border-bottom: 2px solid #E54B4B;
    opacity: 0.7;
    width: 100%;
    display: block;
}
.red-line2{
    border-bottom: 2px solid #E54B4B;
    opacity: 0.7;
    display: block;
    width: 100%;
    
}
.flights-flex label{
   font:  24px 'Oleo Script';
   color:#E54B4B ;
}
.add-icon{
    width: 30px;
    fill: #E54B4B;
}
.flight-div{
    border: 2px solid #E54B4B ;
    border-radius: 20px;
    position: relative;
}
.button-crap{
    position: relative;
    width: 100px;
    left: calc(50% - 50);
    background: #E54B4B;
    border-radius: 15px;
    font-family:  'Oleo Script';
  }
