.field_container{
    display:flex;
    flex-flow: column;
    padding-bottom: 20px;
    
}

.field_container * {
    margin-left: 20px;
    margin-right: 20px;
}
.field_container label{
    box-sizing: border-box;
    color: gray;
    font-size: 16px;
    font-weight: 400;
    padding-top:20px; 
}
.field_container input{
    box-sizing: border-box;
    height:3em;
}

.button{
    margin-top: 20px;
    background-color: #E54B4B;
    border-radius: 0;
    font-size: 16px;
    font-weight: 650;
    color: white;
    border: none;
    cursor: pointer;
}