
<div class="wrapper">
  
    <div class="flights-flex">
        <label>Your info</label>
        <form  ngNativeValidate (ngSubmit)="editUser($event)">

        <div class="red-line"></div>
        <div class = "flex-space-between">
            <label>Name:</label>
            <input class="form-control" name="Name" [(ngModel)] = "MyUser.Name" type="text"/>
        </div> 
        <div class = "flex-space-between">
            <label>Last name:</label>
            <input class="form-control" name = "LastName" [(ngModel)] = "MyUser.LastName" type="text"/>
        </div> 
        <div class = "flex-space-between">
            <label>Username:</label>
            <input class="form-control" name="Username" [(ngModel)] = "MyUser.Username" type="text"/>
        </div> 
        <div class = "flex-space-between">
            <label>Email:</label>
            <input class="form-control" name = "Email" [(ngModel)] = "MyUser.Email" type="text"/>
        </div> 
        <div class = "flex-space-between">
            <label>Current password:</label>
            <input class="form-control" name = "pass" placeholder="Enter current" [(ngModel)] = "pass" type="password" required/>
        </div> 
        <div class = "flex-space-between">
            <label>Change password</label>
            <input class="form-control" name="pass_new" placeholder="Enter new" [(ngModel)] = "pass_new" type="text"/>
        </div> 
        <input class="edit-user-btn" value = "Edit my user" type="submit">
        </form>
        <div class="red-line2"></div>
    </div>
    <div *ngIf = "MyUser?.Role == 0">

    <div class="flights-flex">
        <label>Your past reservations</label>
        <div class="red-line"></div>
        <div *ngFor="let reservation of MyPastReservations; let i = index" class="itsallrelative" >
            <flight-card shut_up = "yes"   [Flight] = reservation.Flight>
                <button [id] = "i" *ngIf= "reservation.Review == null && !togglecomment[i]"  #ratestaywindow class="button-crap"  custombtn>
                    Rate your stay
                </button>
            </flight-card>
            <review [doneReview] = "reservation.Review" [pendingReview] = "reservation" (ReviewDone) = "rate($event)"  *ngIf = "togglecomment[i] || reservation.Review != null">
                    
            </review>
            
           
        </div>
        <div class="red-line2"></div>
    </div>
    <div class="flights-flex">
        <label>Your reservations</label>
        <div class="red-line"></div>
        <div *ngFor="let reservation of MyReservations" >
            <flight-card  [Flight] = reservation.Flight>
                <button class="button-crap">
                    Cancel
                </button>
            </flight-card>
            
        </div>
        <div class="red-line2"></div>
    </div>
    <div class="flights-flex">
        <label>Your invitations</label>
        <div class="red-line"></div>
        <div *ngFor="let reservation of ReservationInvitations" >
            <flight-card  [Flight] = reservation.Flight>
            </flight-card>
            <button class="button-fix1"  (click) = "HandleInvitation('Accept',reservation.Id)"    >
                Accept
            </button>
            <button  class="button-fix2" (click) = "HandleInvitation('Cancel',reservation.Id)"   >
               Deny
            </button>
        </div>
        <div class="red-line2"></div>
    </div>
    <label class="lbl">People</label>
    <div class="red-line2-nodiv"></div>
    <div class="users-flex">
        <userlist  (update) = "update($event)" [hidden] = "MyUser?.Role !== 0" TableName = "Friends" [CurrentUser] = "MyUser" [Users] = "MyUser?.Friends">
        </userlist>
        <userlist (update) = "update($event)" [hidden] = "MyUser?.Role !== 0" TableName = "Requests" [CurrentUser] = "MyUser" [Users] = "MyUser?.PendingFriends">
        </userlist>
        <userlist (update) = "update($event)" [hidden] = "MyUser?.Role !== 0" TableName = "Add Friends" [CurrentUser] = "MyUser" [Users] = "AllUsers">
        </userlist> 
    </div>
    <div class="users-flex">
        <div class="red-line2"></div>
    </div>
    
</div>
<label *ngIf = "MyUser?.Role == 3" class="lbl">All users</label>
    <div *ngIf = "MyUser?.Role == 3" class="flights-flex">
        
        <div class="red-line"></div>
        <admin-users-view 
        >
        
        </admin-users-view>
        <div class="red-line"></div>
    </div>
   
   
</div>


