.main-div{
    border:2px  #E54B4B;
    box-sizing: border-box;
    padding: 15px;
    
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-space-between{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70vw;
}
.flex-space-between2{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:70vw;
}
.flex-space-between2 input:not([type = submit]){
    width: 50%;
}
.flexdiv input:not([type = submit]){
    width: 50%;
}
select{
    width: 50%;
}
.flex-space-between label{
    font-family: 'Oleo Script';
}
.flex-space-between2 label{
    font-family: 'Oleo Script';
}
AutocompleteComponent {
    width: 50% ;
    height: 100%;
}

.wtfdude{
    background: #E54B4B;
    font-family: 'Oleo Script';
    border: none;
    border-radius: 20px;
    position: relative;
    width: 100px;
    left: calc(50% - 50px);
}
/* .easier-flex input:not([type = submit]){
    width: 50%;
} */
.flexdiv{
    display: inline-flex;
    justify-content: space-between;
    width: 50%;
}
.flexdiv label{
    font-family: 'Oleo Script';
}
/* div{
    border: black 2px solid;
} */
.spesldiv{
    display: inline-block;
    width: 50%;
}
.flexdivspesl{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
