<div class = "main-div">
    <form ngNativeValidate (ngSubmit)="onSubmit($event)" (change) = "onChange($event)">
        <div class="flex-row">
            <div class = "flex-space-between">
                <label>From:</label>
                <AutocompleteComponent onlyAvio = 'truedat'  inputName = "from" (setAddress)="getAddress($event)" addressType = "(cities)">
                </AutocompleteComponent>
            </div>
            <div class = "flex-space-between">
                <label>To:</label>
                <AutocompleteComponent onlyAvio = 'truedat' inputName ="to"  (setAddress)="getAddress($event)" addressType = "(cities)">
    
                </AutocompleteComponent>
               
            </div> 
        </div>
        <div class="flex-row">
        <div class = "flex-space-between2">
            <label>Datum poletanja:</label>
            <input class="form-control" name = "datum_poletanja" type="datetime-local" required/>
        </div>
        <div class = "flex-space-between2">
            <label>Datum sletanja:</label>
            <input class="form-control" name ="datum_sletanja" type="datetime-local" required/>
        </div> 
        </div>
        <div class="flex-row">
            <div class = "flex-space-between2">
                <label>Price:</label>
                <input class="form-control" name = "price" type="number" required/>
            </div>
            <div  class = "flex-space-between2">
                <label>Class:</label>
                <select class="form-control" name = "FlightClass" required>
                    <option *ngFor="let class of classType" [value]="class">{{class}}</option>
                </select>
            </div> 
        </div>
        <div class="easier-flex">
            <div  class = 'flexdiv' >
                <label>Number of seats:</label>
                <input class="form-control" name = "seats" type="number" required/>
            </div>
            <div class="spesldiv" *ngFor = "let transit of numTransits;let i = index" >
                <div class = 'flexdivspesl'  *ngIf = "transit.shown">
                    <label>{{transit.label}} Transit</label>
                    <AutocompleteComponent   onlyAvio = 'truedat' [inputName] ="'transit' + i"  (setAddress)="getAddress($event)" addressType = "(cities)">
                        
                    </AutocompleteComponent>
                </div>
                
            </div>
        </div>
        
        <input type="submit" value="Add flight"/>
    </form>
</div>