<div class="wrapper">
    <img class ="img" src = "assets/tempbg2.jpg"/>

    <form>

    <div class="taken-flex">
        <h1>Where to next?</h1>
        <div class="destination-group">
            <AutocompleteComponent   inputName = "Address"  (setAddress)="getAddress($event)" addressType = "(airport)" ></AutocompleteComponent>  
            <AutocompleteComponent inputName = "Address"  (setAddress)="getAddress($event)" addressType = "(airport)"  ></AutocompleteComponent>  
        </div>
        <br>
        <div class="select-group">
            <label for="tripType"></label>
            <select class="form-control" id="tripType" required>
              <option *ngFor="let trip of tripType" [value]="trip">{{trip}}</option>
            </select>
            <label for="cabinClass"></label>
            <select class="form-control" id="cabinClass" required>
              <option *ngFor="let cabin of cabinClass" [value]="cabin">{{cabin}}</option>
            </select>
            <label for="travellers"></label>
            <select class="form-control" id="travellers" required>
              <option *ngFor="let traveller of travellers" [value]="traveller">{{traveller}}</option>
            </select>
        </div>


        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
    </form>
  
    <!-- <div  *ngFor="let flight of Flights" class = "flight-div">
      <flight-card *ngIf = "!Reserving" (alertReserve) = "OpenReserveWindow()"   [Flight] = flight>

      </flight-card>
      <reserve-window *ngIf = "Reserving" (alertClose) = "ReserveAndClose($event)" [Flight] = flight >
      </reserve-window>
    </div> -->
    <div class="flights-flex">
      <label>Search Results</label>
      <div class="red-line"></div>
      <div *ngFor="let flight of Flights" >
          <flight-card   *ngIf = "!Reserving" (alertReserve) = "OpenReserveWindow()"   [Flight] = flight>
          </flight-card>
          <reserve-window *ngIf = "Reserving" (alertClose) = "ReserveAndClose($event)" [Flight] = flight >
          </reserve-window>
      </div>
      <div class="red-line2"></div>
  </div>
</div>

