<div class="wrapper">
    <img class ="img" src = "assets/tempbg2.jpg"/>

    <form>
        
    <div class="container">
        <h1>Where to next?</h1>
        <div class="destination-group">
            <input type="text" placeholder= "From:" class="form-control" id="fromDestination" required>
            <input type="text" placeholder= "To:" class="form-control" id="toDestination" required>
        </div>
        <br>
        <div class="select-group">
            <label for="tripType"></label>
            <select class="form-control" id="tripType" required>
              <option *ngFor="let trip of tripType" [value]="trip">{{trip}}</option>
            </select>
            <label for="cabinClass"></label>
            <select class="form-control" id="cabinClass" required>
              <option *ngFor="let cabin of cabinClass" [value]="cabin">{{cabin}}</option>
            </select>
            <label for="travellers"></label>
            <select class="form-control" id="travellers" required>
              <option *ngFor="let traveller of travellers" [value]="traveller">{{traveller}}</option>
            </select>
        </div>
          

        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
    </form>
    <admin-users-view 
    [hidden] = "this.CurrentUser?.Role !== 3">

    </admin-users-view>
</div>