<div class="wrapper">

    <form ngNativeValidate (ngSubmit)="onSubmit($event)" (change) = "onChange($event)">

    <div class="taken-flex">
        <h1>Where to next?</h1>
        <div class="destination-group">
            <AutocompleteComponent onlyAvio = 'truedat'   inputName = "from"  (setAddress)="getAddress($event)" addressType = "(airport)" ></AutocompleteComponent>  
            <AutocompleteComponent onlyAvio = 'truedat' inputName = "to"  (setAddress)="getAddress($event)" addressType = "(airport)"  ></AutocompleteComponent>  
        </div>
        <div class="select-group">
            <input  placeholder="Time of departure?" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name = 'datum_poletanja'  required/>
            <input placeholder="Time of arrival?" class="form-control" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" name = 'datum_sletanja'  required/>
            
        </div>
        <div class="select-group">
          <select class="form-control"  name = "seatSearch">
            <option class="form-control" *ngFor="let seatNum of seatNums"  [value]="seatNum">{{seatNum}}</option>
          </select>
          <select class="form-control"  name = "FlightClass">
            <option class="form-control" *ngFor="let class of FlightClasses"  [value]="class">{{class}}</option>
          </select>

        </div>


        <button type="submit" class="btn btn-success" >Submit</button>
    </div>
    </form>
    <form (keyup) = "filter($event)" >
      <div *ngIf = "filterWinActive"class = "button-flex">
        <button [ngClass]="{'opacitydrop':!priceActive}">
          Price?
         
          <div >
            <input class="form-control" name = "fromprice" type="number"/>
            -
            <input class="form-control" name = "toprice" type="number"/>
            $
          </div>
        </button>
        <button [ngClass]="{'opacitydrop':!durationActive}" >
          Flight duration?
         
          <div >
            <input class="form-control" name = "fromhours" type="number"/>
            -
            <input class="form-control" name = "tohours" type="number"/>
            hr
          </div>
        </button>
        <button [ngClass]="{'opacitydrop':!transitsActive}" (click) = "transitsToggle()" >
          No transits?
        </button>
      </div>
      </form>
    <div class="flights-flex">
      <label>Search Results</label>
      <div class="red-line"></div>
      <div *ngFor="let flight of ShowFlights" >
          <flight-card    (alertReserve) = "OpenReserveWindow()"   [Flight] = flight>
            
           
          </flight-card>
          <reserve-window *ngIf = "Reserving" (alertClose) = "ReserveAndClose($event)" [Flight] = flight >
          </reserve-window>
      </div>
      <div class="red-line2"></div>
  </div>
</div>

