
 .wrapper{
   position: relative;
    display: block;
}
.button-crap{
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: calc(50% - 50);
    background: #E54B4B;
    border-radius: 15px;
    font-family:  'Oleo Script';
}
.destination-group{
    display:flex;
}
.destination-group div{
    height: 100%;
    width: 100%;
}
.destination-group input{
    height: 100%;
    width: 100%;
}
.select-group{
    display:flex;
}
.select-group div{
    height: 100%;
    width: 100%;
}

/* .flight-div{
    border: 2px solid #E54B4B ;
    border-radius: 20px;
    height: 10em;
} */
.red-line{
    border-bottom: 2px solid #E54B4B;
    width: 100%;
    display: block;
}
.flights-flex{
  
    position: relative;
    display: block;
    left: 15.5%;
    width:70vw;
   
}
AutocompleteComponent{
    width: 100%;
    height: 100%;
}
.taken-flex{
    position: relative;
    display: block;
    left: 15.5%;
    width:70vw;
    flex-grow:1;
}
.flights-flex label{
    font:  24px 'Oleo Script';
    color:#E54B4B ;
 }
 .flights-flex >div{
     border: 2px solid #E54B4B ;
     border-radius: 15px;
 }
 .container{
    position: relative;
    display: block;
    left: 15.5%;
    width:70vw;
    flex-grow:1;
 }
 .dope{
     border:black 2px solid;
     position: absolute;
     width: 20vw;
     height: 20vh;
 }
 .button-flex{
     display: flex;
     width: 700px;
     position:relative;
     left: 15.5%;
     overflow:visible;
     justify-content: space-evenly;
 }
 .button-flex button{
    
     background:#E54B4B ;
     font-family:'Oleo Script';
     border-radius: 5px;
     width: 30%;
    
 }
 .button-flex input{
 display: inline-block;
 width:5em;
 }
 .opacitydrop{
     opacity: 0.7;
 }