.dot-container{
    width: 300px;
    height: 600px;
    border: #E54B4B 2px solid;
    display: flex;
    justify-content: space-between;
}
.dot-container div {
    display: inline-flex;
    width: 40%;
    border: #E54B4B 2px solid;
   
}





.wrapper{
   
    position: fixed;
    top:0;
}
.wrapper img{
  
    width: 100vw;
    height:30vh;
}
.destination-group{
    display:flex;
}
.destination-group div{
    display:inline-flex;
    height: 100%;
    width: 100%;
}
.destination-group input{
    height: 100%;
    width: 100%;
}
.select-group{
    display:flex;
}
.select-group div{
    display:inline-flex;
    height: 100%;
    width: 100%;
}
.btn{
    width:10vh;
    background-color: #E54B4B;
    border-radius: 0;
}
.flight-div{
    border: 2px solid #E54B4B ;
    border-radius: 20px;
    height: 10em;
}