<form ngNativeValidate (ngSubmit)="onSubmit($event)" (change) = "onChange($event)">
<div class = "fieldcontainer">
    <label>Email address</label>
    <input name = "Email" placeholder="johnsmith@gmail.com" type="text" required/>
    <label>Username</label>
    <input name = "Username" placeholder="smith" type="text" required/>
    <label>First Name</label>
    <input name = "Name" placeholder="John" type="text" required/>
    <label>Last Name</label>
    <input name = "LastName" placeholder="Smith" type="text" required/>
    <label>Password</label>
    <input name = "Pass" placeholder="enter password" type="password" required/>
    <label>Password</label>
    <input placeholder="repeat password" type="password" required/>
    <label>Phone number</label>
    <input name = "PhoneNumber" placeholder="06X XXX XXX" type="text" required/>
    <input class = "btn" type="submit" value="SIGN UP"/>
   
</div>
</form>