
<div class="main-flex">
        <div class="half">
            <div [ngClass]="{'blockdiv': doneSelectingSeats}">
                <select-seats (emitSeat) = "NextStep($event)"[seats] = "this.Seats">
                </select-seats>
            </div>
           
        </div>
        <div class="half">
            <div class="invite-form-flex">
                <div>
                    <label>Invite users</label><br>
                    <div class="red-line"></div>
                    <invite-users-view (Next) = "InviteNext($event)" *ngIf = "this.PersonCounter > 0" [Users] = "CurrentUser.Friends" >
    
                    </invite-users-view>
                </div>
                <div>
                    <label>Fill details</label><br>
                    <div class="red-line"></div>
                    <div class = "flex-space-between">
                        <label>First name:</label>
                        <input [(ngModel)] = "first_name"  type="text"/>
                    </div>
                    <div class = "flex-space-between">
                        <label>Last Name:</label>
                        <input [(ngModel)] = "last_name" type="text"/>
                    </div> 
                    <div class = "flex-space-between">
                        <label>Passport number:</label>
                        <input [(ngModel)] = "passport" type="text"/>
                    </div>
                    <div class = "flex-space-between">
                        <label>Seat:</label>
                        <label>{{currentSeat}}:</label>
                    </div>
                    <input *ngIf = "doneSelectingSeats" type="submit"(click) = "ReserveAndNext()" value="Reserve"/>
                </div>
            </div>
            
        </div>
        
</div>
    
