
.flex-space-between{
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.main-flex{
  display: flex;
  align-items: stretch;
  position: relative;
  flex-direction: row;
  
  /* height: 100%;
  width: 100%; */
}
.half{
  display: inline-block;
  width: 49%;
}
label{
    font-family: 'Oleo Script';
}
.invite-form-flex{
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: stretch;
}
.child-flex{
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.red-line{
  width: 100%;
  border-bottom: #e54b4b 2px solid;
  display: block;
}
input[type = 'submit']{
  position: absolute;
  bottom: 10px;
  width: 100px;
}
.blockdiv{
  background: transparent;
  pointer-events: none;
}