<div *ngIf = "doneReview == null" class = "main-div">
    <div class = "flex-space-between">
        <label>From: {{pendingReview.Name}}</label>
        <star-rating value="5" totalstars="5" checkedcolor="#E54B4B" uncheckedcolor="black" size="30px" readonly="false" (rate) = "onRate($event)" >

        </star-rating>
    </div>
    <div class="black-line"></div>
    <textarea [(ngModel)] = "comment"class = "pendingComment">

    </textarea>
    <button (click) = "emitRating()">Submit rating</button>
</div>
<div *ngIf = "doneReview != null" class="main-div">
    <div class = "flex-space-between">
        <label>From: {{doneReview.User.Username}}</label>
        <star-rating totalstars="5" checkedcolor="#E54B4B" uncheckedcolor="black" size="30px" readonly = "true" [value] = "doneReview.Stars" >
        </star-rating>
    </div>
    <div class="black-line"></div>
    <div class = "doneComment">
        {{doneReview.Comment}}
    </div>
</div>
