.main-div{
    border:2px solid #E54B4B;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    width: 100%;

    
}

.black-line{
    border-bottom: 2px solid black;
    opacity: 0.7;
    width: 100%;
    display: block;
}
label{
    font-family: 'Oleo Script';
    font-size: 16px;
}
textarea{
    display: block;
    width: 100%;
}
button{
    position: relative;
    width: 100px;
    left: calc(50% - 50px);
    background: #E54B4B;
    font-family: 'Oleo Script';
    border: none;
    border-radius: 20px;
}