<div class="wrapper">
    <img class ="img" src = "assets/tempbackground.jpg"/>
    <div class = "fieldcontainer">
        <div>
            <img src = "assets/service.png"/>
            <input placeholder="Type of service" type="text"/>
        </div>
        <div>
            <img src = "assets/calendar.png"/>
            <input placeholder="Choose date" type="text"/>
        </div>
        <div>
            <img src = "assets/place.png"/>
            <input placeholder="Choose place" type="text"/>
        </div>
        <button class="btn">
            FIND
        </button>
    </div>
</div>

