<div class = "fieldcontainer">
    <label>Email address</label>
    <input placeholder="johnsmith@gmail.com" type="text"/>
    <label>Username</label>
    <input placeholder="SmithIdk" type="text"/>
    <label>Password</label>
    <input placeholder="enter password" type="password"/>
    <label>Repeat password</label>
    <input placeholder="enter password" type="password"/>
    <label>Phone number</label>
    <input placeholder="06X XXX XXX" type="text"/>
    <div class = "btn">
        SIGN UP
    </div>
</div>