<div class = "main-div">
    <div class = "flex-space-between">
        <label>From:</label>
        <label>{{Flight?.From_Location?.State}}</label>
    </div>
    <div class = "flex-space-between">
        <label>To:</label>
        <label>{{Flight?.To_Location?.State}}</label>
       
    </div> 
    <div class = "flex-space-between">
        <label>Date of departure:</label>
        <div class="white">

            <label>{{Flight?.Flight_Departure_Time}}</label>
        </div>
    </div>
    <div class = "flex-space-between">
        <label>Flight Duration:</label>
        <label>{{Flight?.Flight_Duration}}</label>
    </div>
    <div  class = "flex-space-between">
        <label >Price:</label>
        <label class="crossed-out">{{Flight?.Price?.Value}} USD</label>
    </div>
   
  
    <div  class = "flex-space-between">
        <label>New price!:</label>
        <label>{{Flight?.DiscountedPrice}} USD</label>
    </div>
    <form ngNativeValidate>

    <div  class = "flex-space-between holdyourhorses">
        <label>Enter passport number:</label>
        <input name = "passport" [(ngModel)] = 'this.passport' class="form-control slowdown" type="number" required>
    </div>
    <div  class = "flex-space-between">
        <label>Seat:</label>
        <label>{{Seat}} </label>
    </div>
    <input class="offerbtn" *ngIf = "CurrentUser?.Role == 0 && shut_up == null" (click) = "fastreserve()" value = "Fast reserve" type="submit"/>  
    </form>
    </div>