<div *ngIf="Dialog" (click)="hideDialog()" class="greyout"></div>
<div
  *ngIf="Dialog"
  [ngClass]="logInActive ? 'DialogContainerLog' : 'DialogContainerLog'"
>
  <div (click)="signInActivate()" class="DialogNavBar">
    <div class="LogInSignUp">
      <label [ngClass]="logInActive ? 'Picked' : 'null'">Log In</label>
      <label [ngClass]="logInActive ? 'null' : 'Picked'">Sign Up</label>
    </div>
    <img class="exitimg" (click)="hideDialog()" src="assets/exit.svg" />
  </div>
  <app-log-in
    (imDone) = "close($event)"
    *ngIf="logInActive; else signDiv"
    class="LogInDialog"
  >
  </app-log-in>
  <ng-template #signDiv>
    <app-sign-in> </app-sign-in>
  </ng-template>
</div>

<div class="position">
  <div class="restrict-img">
    <img src = "assets/tempbackground.jpg" class = "top"/>
  </div>
 
<div class="navbar">
  <img routerLink="" src="assets/logo.png" />
  <div>
    <li><a routerLink="" routerLinkActive="active">HOME</a></li>
    <li [hidden]= "CurrentUser?.Role == 1 || CurrentUser?.Role ==3"><a routerLink="/flight" routerLinkActive="active">FLIGHTS</a></li>
    <!-- <li><a routerLink="/rentacar" routerLinkActive="active">RENT A CAR</a></li> -->
    <img *ngIf = "CurrentUser == null" (click)="showDialog()" src="assets/user.png" />
    <li *ngIf = "CurrentUser"><a [routerLink]="'/:MeMyselfAndI/'">{{CurrentUser?.Username.toUpperCase()}}</a></li>
    <li *ngIf = "CurrentUser?.Role == 1"><a [routerLink]="this.link">{{this.AviocompanyName?.toUpperCase()}}</a></li>
    <li *ngIf = "CurrentUser"><a (click) = "LogOut()">LOG OUT</a></li>
  </div>
</div>
</div>