.dot-container{
    display: flex;
    justify-content: space-between;

}
.dot-container > div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    flex-wrap: wrap;
   
}
.dot-container div img{
    padding: 1px;
    
    box-sizing: border-box;
}
input{
    display: block;
    border-radius: 10px;
    width: 100px;
    background-color: #e54b4b;
    position: relative;
    left: calc(50% - 50px);

}
label,input{
    font-family: 'Oleo Script';
}
.container{
    position: relative;
}