.dot-container{
    /* width: 300px;
    height: 150px; */
    display: flex;
    justify-content: space-between;

}
.dot-container div {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    align-content: flex-start;
    width: 40%;
    flex-wrap: wrap;
   
}
.dot-container div img{
    padding: 1px;
    width: 25%;
    box-sizing: border-box;
}
input{
    display: block;
    border-radius: 15px;
    background-color: #e54b4b;
}
label,input{
    font-family: 'Oleo Script';
}