<div class="container">


<div class="dot-container">
    <div>
      <img *ngFor = "let taken of seatsFirst; let i = index" 
            (click) = "SelectSeat('1',i,taken)" 
            [src] = "{'0':'assets/seats/available.svg',
                      '1':'assets/seats/taken.svg',
                      '2':'assets/seats/picked.svg',
                      '3':'assets/seats/current.svg',
                      '5':'assets/seats/offer.svg'
                    }
                      [taken]"/>
    </div>
    <div>
      <img *ngFor = "let taken of seatsSecond; let i = index" 
            (click) = "SelectSeat('2',i,taken)"  
            [src] = "{'0':'assets/seats/available.svg',
                      '1':'assets/seats/taken.svg',
                      '2':'assets/seats/picked.svg',
                      '3':'assets/seats/current.svg',
                      '5':'assets/seats/offer.svg'
                    }
                      [taken]"/>
    </div>
  </div>
  <label>Seats selected: {{toEmit.toString()}}</label>
  <input *ngIf = "!this.doneSelecting" value = "Select seats" (click) = "EmitSeats()" type="submit"/>
</div>

