.field_container {
  display: flex;
  background-color: white;
  flex-flow: column;
  padding-bottom: 20px;
}

.field_container * {
  margin-left: 20px;
  margin-right: 20px;
}
.field_container label {
  box-sizing: border-box;
  color: gray;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
}
.field_container input {
  box-sizing: border-box;
  height: 3em;
}

.button {
  margin-top: 20px;
  background-color: #e54b4b;
  border-radius: 0;
  font-size: 16px;
  font-weight: 650;
  color: white;
  border: none;
  cursor: pointer;
}
